.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
}

.headerLogo {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-right: -50%;
  padding-top: 12px;
}

.headerProfileButton {
  float: right;
  padding: 12px 4px 0 0;
}
