.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
}

.headerLogoButton {
  display: inline-block;
  margin-right: -50%;
  border: none;
  background-color: #fff;
  padding: 12px 0 4px 12px;

}

.headerProfileButton {
  float: right;
  padding: 16px 12px 8px 12px;
  border: none;
  background-color: #fff;
  
}

.profileIcon {
  width: 32px !important;
  height: 32px;
  color: #8cbeaa;
  text-shadow: 1px 1px 1px #ccc;
}